* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
}

h1 {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

ul {
    display: flex;
    gap: 24px;
}

li {
    list-style: none;
}

main {
    background-color: #1f2937;
    display: flex;
    padding: 42px;
    justify-content: center;
    gap: 32px;
}

.images {
    display: flex;
}

img {
    height: auto;
    width: 500px;
}

.one {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-around;
}

.one h1{
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.one p {
    color: white;
}

.one button {
    width: 150px;
    padding: 6px 12px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
}

.one button:hover {
    background-color: white;
    color: #3882f6;
}

.two {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 300px;
    justify-content: space-around;
}

.card-detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-detail > img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

#card {
    display: flex;
    text-align: center;
    gap: 24px;
}

.three {
    background-color: #eee;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    height: 150px;
    width: 75%;
    text-align: center;
    font-size: 36px;
    font-style: italic;
}

.three .quote p {
    text-align: end;
    font-weight: bold;
}

.four {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-card {
    background-color: #3882f6;
    width: 70%;
    height: 150px;
    align-items: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.four .four-card h4 {
    color: white;
    font-weight: bold;
    font-size: larger;
}

.four .four-card p {
    color: white;
}

.four .four-card button {
    background-color: #3882f6;
    padding: 6px 12px;
    color: white;
    font-weight: bold;
    border: solid 1px white;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}

.four .four-card button:hover {
    background-color: white;
    color: #3882f6;
}

footer {
    padding: 42px;
    background-color: #1f2937;
    color: white;
    text-align: center;
}